<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/X68000.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>NANKIN.X68000</string>
		<key>CFBundleShortVersionString</key>
		<string>4.1.0</string>
		<key>CFBundleVersion</key>
		<string>908</string>
		<key>SigningIdentity</key>
		<string>Apple Distribution: Yoshiharu Dewa (DQR9HH7KUY)</string>
		<key>Team</key>
		<string>DQR9HH7KUY</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2025-08-05T21:39:02Z</date>
	<key>Name</key>
	<string>X68000 macOS</string>
	<key>SchemeName</key>
	<string>X68000 macOS</string>
</dict>
</plist>
